# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
.venv/
env/
venv/

# Streamlit
.streamlit/

# VS Code / JetBrains
.vscode/
.idea/

# macOS
.DS_Store

# Env files
.env
